<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link href="" rel="stylesheet">
    <link rel="stylesheet" href="https://www.layuicdn.com/layui/css/layui.css">
</head>

<body>
<div id="demo"></div>
<table class="layui-hide" id="menu" lay-filter="menu"></table>
</body>
<script th:src="@{/webjars/layui/2.5.4/layui.js}"></script>
<script type="text/javascript">

    layui.use(['treetable', 'table', 'layer'], function () {
        var table = layui.table;
        var layer = layui.layer;
        var treetable = layui.treetable;
        //渲染表格
        var renderTable = function () {
            layer.load(2);
            treetable.render({
                elem: '#demo', //传入元素选择器
                url: '/menu/list',
                idField: 'id',
                treeId: 'id',//树形id字段名称,
                treeUpId: 'pId',//树形父id字段名称
                treeShowName: 'name',//以树形式显示的字段
                cols: [
                    {
                        width: 100, title: '操作', align: 'center'/*toolbar: '#barDemo'*/
                        , templet: function (d) {
                            var html = '';
                            var addBtn = '<a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="add">添加</a>';
                            var delBtn = '<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>';
                            return addBtn + delBtn;
                        }
                    }
                    , {field: 'menuName', edit: 'text', width: 300, title: '水果名称'}
                    , {field: 'menuId', width: 100, title: 'id'}
                    , {field: 'parentId', title: 'pid'}
                ]
                , page: false
            })
        }
    });


        /* layui.treeGird({
             elem: '#demo', //传入元素选择器
             url: '/menu/list',
             //nodes: ,
             layout: [
                 {name: '菜单名称', field: 'name', treeNodes: true, headerClass: 'value_col', colClass: 'value_col', style: 'width: 20%'},
                 {name: '连接地址', field: 'test', treeNodes: false, headerClass: '', colClass: '', style: 'width: 20%'},
                 {name: '菜单名称2', treeNodes: false, headerClass: '', colClass: '', style: 'width: 20%'},
                 {
                     name: '操作',
                     headerClass: 'value_col',
                     colClass: 'value_col',
                     style: 'width: 20%',
                     render: function (row) {
                         return '<a class="layui-btn layui-btn-danger layui-btn-mini"><i class="layui-icon">&#xe640;</i> 删除</a><a class="layui-btn layui-btn-danger layui-btn-mini"><i class="layui-icon">&#xe640;</i> 修改</a>'; //列渲染
                     }
                 },
             ]
         });*/

</script>


</html>