<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/webjars/layui/2.5.4/css/layui.css}" media="all">
    <title>用户添加</title>
</head>
<body>
<div id="edit">
    <form id="editForm" lay-filter="editForm" class="layui-form model-form">
        <div class="layui-form-item">
            <label class="layui-form-label">字典ID<span style="color: red;">*</span></label>
            <div class="layui-input-block">
                <input id="dictId" name="id" placeholder="请输入名称" type="text" class="layui-input" disabled="disabled"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">字典名称<span style="color: red;">*</span></label>
            <div class="layui-input-block">
                <input id="dictName" name="dictName" placeholder="请输入字典名称" type="text" class="layui-input" lay-verify="required" required/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">字典代号<span style="color: red;">*</span></label>
            <div class="layui-input-block">
                <input id="dictLabel" name="dictLabel" placeholder="请输入字典代号" type="text" class="layui-input"
                       autocomplete="off" lay-verify="required" required/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">是否启用<span style="color: red;">*</span></label>
            <div class="layui-input-block">
                <input id="check1" name="enabled" title="启用" type="radio" value="1"/>
                <input id="check2" type="radio" name="enabled" value="0" title="不启用"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-block">
                <input id="remark" name="remark" placeholder="请输入备注" type="text" class="layui-input"/>
            </div>
        </div>
        <div class="layui-form-item" align="center">
            <button class="layui-btn " id="closeDialog">取消</button>
            <button class="layui-btn" lay-submit lay-filter="submitBtn">立即提交</button>

        </div>
    </form>
</div>
<script>
    //JavaScript代码区域
    layui.use('form', function(){
        var form = layui.form;
        form.render();
    });
</script>
</body>
</html>