<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.muchi.community.dict.mapper.BaseDictMapper">

    <select id="getAllDict" resultType="com.muchi.community.dict.entity.BaseDict">
        select * from base_dict
    </select>

    <select id="getDictByType" parameterType="String" resultType="com.muchi.community.dict.vo.DictVo">
        SELECT
	dictLabel,
	dict_key dictKey,
	dict_val dictVal
        FROM
	base_dict a
	LEFT JOIN base_dict_value b ON a.id = b.dict_id
        WHERE
	dictLabel = #{dictLabel}
    </select>

</mapper>
