<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header" th:fragment="topbar">
        <div class="layui-logo"><img th:src="@{/static/login/img/mzlogo.png}">&nbsp;&nbsp;muchi</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href=""><i class="layui-icon layui-icon-console"></i>&nbsp;控制台</a></li>
            <li class="layui-nav-item"><a href=""><i class="layui-icon layui-icon-console"></i>&nbsp;订单管理</a></li>
            <li class="layui-nav-item"><a href=""><i class="layui-icon layui-icon-console"></i>&nbsp;用户</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">其它系统</a>
                <dl class="layui-nav-child">
                    <dd><a href="">邮件管理</a></dd>
                    <dd><a href="">消息管理</a></dd>
                    <dd><a href="">授权管理</a></dd>
                </dl>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img th:src="@{/static/xwz.jpeg}" class="layui-nav-img">
                    admin
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="/logout">退出</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black" th:fragment="sidebar">
        <div class="layui-side-scroll" >
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;"><i class="layui-icon layui-icon-home"></i>&nbsp;主页</a>
                    <dl class="layui-nav-child">
                        <dd><a href=""><i class="layui-icon layui-icon-about"></i>&nbsp;关于牧之</a></dd>
                        <dd><a href="javascript:;"><i class="layui-icon layui-icon-dialogue"></i>&nbsp;加入牧之</a></dd>
                        <dd><a href="javascript:;"><i class="layui-icon layui-icon-survey"></i>&nbsp;投诉建议</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;"><i class="layui-icon layui-icon-set-sm"></i>&nbsp;系统管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/user/toUserPage"><i class="layui-icon layui-icon-group"></i>&nbsp;用户管理</a></dd>
                        <dd><a href=""><i class="layui-icon layui-icon-cart"></i>&nbsp;商家管理</a></dd>
                        <dd><a href="/dict/toDictPage"><i class="layui-icon layui-icon-read"></i>&nbsp;字典管理</a></dd>
                        <dd><a href=""><i class="layui-icon layui-icon-group"></i>&nbsp;通知公告</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;"><i class="layui-icon layui-icon-util"></i>&nbsp;系统监控</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/druidMonitor"><i class="layui-icon layui-icon-console"></i>&nbsp;数据库监控</a></dd>
                        <dd><a href="javascript:;"><i class="layui-icon layui-icon-chart-screen"></i>&nbsp;日志监控</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>



    <div class="layui-footer" th:fragment="footbar" >
        <!-- 底部固定区域 -->
        <p style="color: black">© muchi.com - 牧之社区版权所有</p>
    </div>
</div>
</body>
</html>