<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>登陆页面</title>
	<link rel="stylesheet" type="text/css" th:href="@{/static/login/css/login.css}">

	<script type="text/javascript" th:src="@{/webjars/jquery/3.4.1/jquery.js}" ></script>

	<script type="text/javascript">
        $(function(){
            $(".name input").focus(function(){
                $(this).prev("i").css({"background-image":"th:url(@{/static/login/img/user2.png})"});
            });
            $(".name input").blur(function(){
                $(this).prev("i").css({"background-image":"th:url(@{/static/login/img/user1.png})"});
            });
            $(".password input").focus(function(){
                $(this).prev("i").css({"background-image":"th:url(@{/static/login/img/password2.png})"});
            });
            $(".password input").blur(function(){
                $(this).prev("i").css({"background-image":"th:url(@{/static/login/img/password1.png})"});
            });
        });
	</script>
</head>
<body>
<div class="container">
	<div class="wrap">
		<header><em><img th:src="@{/static/login/img/mzlogo.png}"><span>muchi技术有限公司</span></em></header>
		<article>
			<section>
				<aside>
					<em>
						<img th:src="@{/static/login/img/user.png}">
					</em>
					<form action="" method="post">
						<p class="name"><i></i><input type="text" id="userName" name="userName" class="userName" placeholder="请输入用户名"></p>
						<p class="password"><i></i><input type="password" id="password" name="password" class="pwd" placeholder="请输入密码"></p>
						<button id="loginBtn">登录</button>
						<p class="remember"><input type="checkbox" id="rememberMe" name="remember">记住密码</p>
						<p class="regist"><span>没有账号?</span><a href="http://localhost:8088/regist">立即注册</a></p>
						<div class="clear"></div>
					</form>
				</aside>

			</section>
		</article>
		<footer>
			<ul>
				<li><a href="#">联系我们</a></li>
				<li><a href="#">关于我们</a></li>
				<li><a href="#">人才招聘</a></li>
				<li><a href="#">友情链接</a></li>
				<li><a href="#">公司地址</a></li>
				<li><a href="#">关注我们</a></li>
			</ul>
			<p>本网站版权归muchi技术有限公司所有，未经许可，不得转载。</p>
		</footer>
	</div>
</div>
<script type="text/javascript">
	$("#loginBtn").click(function() {
		var userName= $("#userName").val();
		var password= $("#password").val();
		var rememberMe = $("#rememberMe").prop("checked");
		$.ajax({
			type: "post",
			url: "/user/login",
			dataType: 'json',
			data: {"userName": userName,"password":password,"rememberMe":rememberMe},
			success:function (data) {
				if(data.success){
					window.location.href = "http://localhost:8088/admin/mainPage";
				}else {
					alert(data.errorInfo);
				}
			}
		});
	});
</script>
</body>
</html>
