<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
		<title>主页</title>

		<link rel="stylesheet"  th:href="@{/webjars/layui/2.5.4/css/layui.css}" media="all">
		<script type="text/javascript" th:src="@{/webjars/jquery/3.4.1/jquery.js}" ></script>
		<script th:src="@{/static/js/CommonJs.js}" th:inline="javascript"></script>

		<style type="text/css">
			body {
				margin: 50px;
			}
		</style>
	</head>

	<body>
		
		<button id="selectBtn" class="layui-btn layui-btn-sm layui-btn-radius layui-bg-cyan">
			<i class="layui-icon">&#xe602;</i>select
		</button>
		<button id="insertBtn" class="layui-btn layui-btn-normal layui-btn-sm layui-btn-radius">
			<i class="layui-icon">&#xe654;</i>insert
		</button>
		<button id="updateBtn" class="layui-btn layui-btn-warm layui-btn-sm layui-btn-radius">
			<i class="layui-icon">&#xe642;</i>update
		</button>
		<button id="deleteBtn" class="layui-btn layui-btn-danger layui-btn-sm layui-btn-radius">
			<i class="layui-icon">&#xe640;</i>delete
		</button>

		<hr />
		<button id="vipBtn" class="layui-btn layui-btn-lg">
			vip
		</button>
		<button id="ipBtn" class="layui-btn layui-btn-lg">
			ip
		</button>
		<button id="pBtn" class="layui-btn layui-btn-lg">
			p
		</button>
		
		<hr/>
		<a class="layui-btn layui-btn-sm layui-btn-primary" href="logout">注销</a>
	</body>
	<script type="text/javascript">
		$("#selectBtn").click(function() {
			$.post(baseUrl+"/user/select", {}, function(result) {
				if(result.success) {
					alert(result.msg);
					return false;
				} else {
                    alert("对不起，您无权访问");
					return false;
				}
			});
		});

		$("#insertBtn").click(function() {
			$.post(baseUrl+"/user/insert", {}, function(result) {
				if(result.success) {
					alert(result.msg);
					return false;
				} else {
                    alert("对不起，您无权访问");
					return false;
				}
			});
		});

		$("#updateBtn").click(function() {
			$.post(baseUrl+"/user/update", {}, function(result) {
				if(result.success) {
					alert(result.msg);
					return false;
				} else {
					alert("对不起，您无权访问");
					return false;
				}
			});
		});

		$("#deleteBtn").click(function() {
			$.post(baseUrl+"/user/delete", {}, function(result) {
				if(result.success) {
					alert(result.msg);
					return false;
				} else {
                    alert("对不起，您无权访问");
					return false;
				}
			});
		});

		$("#vipBtn").click(function() {
			$.post(baseUrl+"/user/vip", {}, function(result) {
				if(result.success) {
					alert(result.msg);
					return false;
				} else {
                    alert("对不起，您无权访问");
					return false;
				}
			});
		});

		$("#ipBtn").click(function() {
			$.post(baseUrl+"/user/ip", {}, function(result) {
				if(result.success) {
					alert(result.msg);
					return false;
				} else {
                    alert("对不起，您无权访问");
					return false;
				}
			});
		});
		$("#pBtn").click(function() {
			$.post(baseUrl+"/user/p", {}, function(result) {
				if(result.success) {
					alert(result.msg);
					return false;
				} else {
                    alert("对不起，您无权访问");
					return false;
				}
			});
		});
	</script>

</html>