<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>注册页面</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/login/css/regist.css}">
    <script type="text/javascript" th:src="@{/webjars/jquery/3.4.1/jquery.js}" ></script>
    <script src="https://www.layuicdn.com/layui/layui.js"></script>
    <script th:src="@{/static/js/CommonJs.js}" th:inline="javascript"></script>
</head>
<body>
    <div class="wrapper">
        <article>
            <h1><em></em><span>muchi技术有限公司</span></h1>
            <div class="main">
                <form enctype="multipart/form-data" method="post" id="upload" action="">
                    <div class="userName">
                        <input type="text" id="userName"  placeholder="您的真实姓名"><em></em>
                    </div>
                    <div class="tel">
                        <input type="tel"  placeholder="手机号"><em></em>
                    </div>
                    <div class="school">
                        <input type="text" id="school" name="您的学校" placeholder="大学/学院"><em></em>
                    </div>
                    <div class="specialty">
                        <input type="text" id="specialty" name="您的专业" placeholder="您的所学专业"><em></em>
                    </div>

                    <div class="file">
                        <input type="file" id="uploadFile" name="uploadFile" placeholder="上传附件"><em></em>
                    </div>
                    <button type="button" id="regBtn">提交</button>
                </form>
            </div>
        </article>
        <footer>
            <ul>
                <li><a href="#">联系我们</a></li>
                <li><a href="#">关于我们</a></li>
                <li><a href="#">人才招聘</a></li>
                <li><a href="#">友情链接</a></li>
                <li><a href="#">公司地址</a></li>
                <li><a href="#">关注我们</a></li>
            </ul>
            <p>本网站版权归muchi技术有限公司所有，未经许可，不得转载。</p>
        </footer>
    </div>


    <script type="text/javascript">

        layui.use(['table','form'], function() {
            var layer = layui.layer;
            $("#regBtn").click(function() {

                layer.confirm('如有多个附件上传，请将其打包至压缩文件，确定提交吗？', {
                    btn: ['取消', '确定'] //按钮
                }, function () {
                    layer.closeAll();
                }, function () {
                   alert("确定")

                   $("#upload").attr("action",baseUrl+"/user/upload").submit();
                });

            });
        })



    </script>


</body>
</html>
