<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.muchi.community.shiro.dao.UserRoleDao">

    <select id="getUserRoleByUserName" resultType="com.muchi.community.shiro.entity.UserRole" parameterType="string">
        SELECT
            t1.*
        FROM
            `sys_user_role` t1,
            `sys_user` t2
        WHERE
            t2.id = t1.user_id
          AND t2.user_name = #{username}
    </select>

</mapper>