<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/static/layui/css/global.css}" />
    <link rel="stylesheet" type="text/css" href="https://www.layuicdn.com/layui/css/layui.css" />
    <title>未读消息</title>
</head>
<body>
    <!-- 内容主体区域 -->
    <ul class="fly-list">
        <li>
            <a href="" class="fly-avatar">
                <img src="https://tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg" alt="贤心">
            </a>
            <h2>
                <a class="layui-badge">分享</a>
                <a href="">基于 layui 的极简社区页面模版</a>
            </h2>
            <div class="fly-list-info">
                <a href="" link>
                    <cite>贤心</cite>
                </a>
                <span>刚刚</span>
                <span class="fly-list-kiss layui-hide-xs" title="悬赏飞吻"><i class="iconfont icon-kiss"></i> 60</span>
                <!--<span class="layui-badge fly-badge-accept layui-hide-xs">已结</span>-->
                <span class="fly-list-nums">
                <i class="iconfont icon-pinglun1" title="回答"></i> 66
              </span>
            </div>
            <div class="fly-list-badge">
                <!--<span class="layui-badge layui-bg-red">精帖</span>-->
            </div>
        </li>
    </ul>

</body>
</html>